In [1]:
import numpy as np
import pandas as pd
import datetime

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.model_selection import train_test_split

import os

# LOAD THE EXPORTED DATASETS

In [2]:
#input-train data
filename1 = r'C:\Users\13134\Documents\GitHub\Capstone-2\Data Pre-Processing\data\loan_data_inputs_train.csv'
loan_data_inputs_train = pd.read_csv(filename1, index_col = 0)

#input-test data
filename2 = r'C:\Users\13134\Documents\GitHub\Capstone-2\Data Pre-Processing\data\loan_data_inputs_test.csv'
loan_data_inputs_test = pd.read_csv(filename2, index_col = 0)

#targets-train data
filename3 = r'C:\Users\13134\Documents\GitHub\Capstone-2\Data Pre-Processing\data\loan_data_targets_train.csv'
loan_data_targets_train = pd.read_csv(filename3, index_col = 0)

#targets-test data
filename4 = r'C:\Users\13134\Documents\GitHub\Capstone-2\Data Pre-Processing\data\loan_data_targets_test.csv'
loan_data_targets_test = pd.read_csv(filename4, index_col = 0)

C:\Users\13134\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (124,125,126,129,130,131,134) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\13134\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

**Exploring the Data**

In [3]:
#inputs-train data
loan_data_inputs_train.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
305053,NaN,NaN,14600,14600,14600.0,36 months,21.85,556.45,D,D5,...,0,0,1,1,0,0,0,0,0,0
50247,NaN,NaN,10000,10000,10000.0,60 months,13.56,230.41,C,C1,...,0,0,0,1,0,0,0,0,0,0
1630001,NaN,NaN,20000,20000,20000.0,36 months,12.74,671.38,C,C1,...,0,0,0,1,0,0,0,0,0,0
927626,NaN,NaN,8000,8000,8000.0,36 months,13.49,271.45,C,C2,...,0,0,0,1,0,0,0,0,0,0
758488,NaN,NaN,30000,30000,30000.0,36 months,11.99,996.29,C,C1,...,0,1,0,1,0,0,0,0,0,0

In [4]:
#targets-train data
loan_data_targets_train.head()

         good_bad
305053          1
50247           1
1630001         1
927626          1
758488          1

In [5]:
#inputs-test data
loan_data_inputs_test.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
1758049,NaN,NaN,35000,35000,35000.0,36 months,12.12,1164.51,B,B3,...,0,0,0,1,0,0,0,0,0,0
686533,NaN,NaN,30000,30000,30000.0,60 months,10.75,648.54,B,B4,...,0,1,0,1,0,0,0,0,0,0
900721,NaN,NaN,15000,15000,15000.0,36 months,7.49,466.53,A,A4,...,0,0,0,1,0,0,0,0,0,0
1727912,NaN,NaN,24000,24000,24000.0,60 months,21.15,651.31,E,E2,...,0,0,0,1,0,0,0,0,0,0
539691,NaN,NaN,14400,14400,14400.0,36 months,8.59,455.18,A,A5,...,0,0,0,1,0,0,0,0,0,0

In [6]:
#targets-test data
loan_data_targets_test.head()

         good_bad
1758049         1
686533          1
900721          1
1727912         1
539691          1

In [7]:
loan_data_inputs_train.shape

(1808534, 394)

In [8]:
loan_data_targets_train.shape

(1808534, 1)

In [9]:
loan_data_inputs_test.shape

(452134, 394)

In [10]:
loan_data_targets_test.shape

(452134, 1)

**Selecting the Features**

In [11]:
# Here we select a limited set of input variables in a new dataframe.
inputs_train_with_ref_cat = loan_data_inputs_train[['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'open_acc:0',
'open_acc:1-3',
'open_acc:4-12',
'open_acc:13-17',
'open_acc:18-22',
'open_acc:23-25',
'open_acc:26-30',
'open_acc:>=31',
'pub_rec:0-2',
'pub_rec:3-4',
'pub_rec:>=5',
'total_acc:<=27',
'total_acc:28-51',
'total_acc:>=52',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31'
]]

In [12]:
# Here we store the names of the reference category dummy variables in a list.

ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'delinq_2yrs:>=4',
'inq_last_6mths:>6',
'open_acc:0',
'pub_rec:0-2',
'total_acc:<=27',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [13]:
# From the dataframe with input variables, we drop the variables with variable names in the list with reference categories. 

inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31
305053,0,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
50247,0,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1630001,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
927626,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
758488,0,0,1,0,0,0,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0

# PROPABILITY OF DEFAULT (PD) MODEL ESTIMATION

**We will be using Logistic Regression for our PD Model**

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

from sklearn import linear_model
import scipy.stats as stat

In [15]:
# P values for sklearn logistic regression.

# Class to display p-values for logistic regression in sklearn.

class LogisticRegression_with_p_values:
    
    def __init__(self,*args,**kwargs):#,**kwargs):
        self.model = linear_model.LogisticRegression(*args,**kwargs)#,**args)

    def fit(self,X,y):
        self.model.fit(X,y)
        
        #### Get p-values for the fitted model ####
        denom = (2.0 * (1.0 + np.cosh(self.model.decision_function(X))))
        denom = np.tile(denom,(X.shape[1],1)).T
        F_ij = np.dot((X / denom).T,X) ## Fisher Information Matrix
        Cramer_Rao = np.linalg.inv(F_ij) ## Inverse Information Matrix
        sigma_estimates = np.sqrt(np.diagonal(Cramer_Rao))
        z_scores = self.model.coef_[0] / sigma_estimates # z-score for eaach model coefficient
        p_values = [stat.norm.sf(abs(x)) * 2 for x in z_scores] ### two tailed test for p-values
        
        self.coef_ = self.model.coef_
        self.intercept_ = self.model.intercept_
        self.p_values = p_values

In [16]:
# We create an instance of an object from the newly created 'LogisticRegression_with_p_values()' class
reg = LogisticRegression_with_p_values()

In [17]:
# Sets the pandas dataframe options to display all columns/ rows.
pd.options.display.max_rows = None

In [18]:
# Estimates the coefficients of the object from the 'LogisticRegression' class
# with inputs (independent variables) contained in the first dataframe
# and targets (dependent variables) contained in the second dataframe.
reg.fit(inputs_train, loan_data_targets_train)

C:\Users\13134\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\13134\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [20]:
# Displays the intercept contain in the estimated ("fitted") object from the 'LogisticRegression' class.
reg.intercept_

array([0.21538913])

In [21]:
# Displays the coefficients contained in the estimated ("fitted") object from the 'LogisticRegression' class.
reg.coef_

array([[ 2.19431837,  1.66341147,  1.29339115,  0.86337279,  0.46869783,
         0.15218737,  0.11155706,  0.24280528,  0.04973625,  0.00312667,
         0.01066878,  0.0492158 ,  0.06505773,  0.09482844,  0.08861995,
         0.3021583 ,  0.21183267,  0.0706949 ,  0.26441626,  0.28688042,
         0.42423384,  0.2501805 ,  0.05904257,  0.1344867 ,  0.10425651,
         0.19525374,  0.12819666,  0.10019314,  0.19741055,  0.08401788,
         0.11883188,  0.11223182,  0.07916433,  0.15649162, -1.49945624,
        -1.62549908, -1.51717021, -1.48949737, -1.40982333, -1.45819654,
        -1.48062519,  0.00615682, -0.16026366, -0.22918742, -0.16117297,
        -0.07863565, -0.10021073, -0.09116687, -0.05499677, -0.08254654,
         0.05302861,  0.03560279,  0.7626037 ,  0.57679721,  0.38257833,
         0.24242399,  0.12070932,  0.01842304, -0.01245734, -0.03958192,
        -0.05412599, -0.06283321, -0.01824176,  0.00784753, -0.02489732,
        -0.03057082,  0.11073294,  0.06888467,  0.08295185,  0.11588717,
         0.16747068,  0.22408995,  0.3055965 ,  0.40655358, -0.09273089,
        -0.06422854, -0.02755361, -0.00734734,  0.02316009,  0.04686483,
         0.08728493,  0.09438642,  0.15435687,  0.17793077,  0.19279259,
        -0.07974392,  0.15424117,  0.17488244,  0.14668988,  0.09250774,
         0.03307359,  0.00576272, -0.04454299, -0.08445065,  0.13390613,
         0.12907524,  0.15285049,  0.14582938,  0.08537608, -0.01151736,
         0.02928357]])

In [22]:
# Stores the names of the columns of a dataframe in a variable.
feature_name = inputs_train.columns.values

In [23]:
# Creates a dataframe with a column titled 'Feature name' and row values contained in the 'feature_name' variable.
summary_table = pd.DataFrame(columns = ['Feature name'], data = feature_name)


# Creates a new column in the dataframe, called 'Coefficients',
# with row values the transposed coefficients from the 'LogisticRegression' object.
summary_table['Coefficients'] = np.transpose(reg.coef_)


# Increases the index of every row of the dataframe with 1.
summary_table.index = summary_table.index + 1

# Assigns values of the row with index 0 of the dataframe.
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]

# Sorts the dataframe by index.
summary_table = summary_table.sort_index()

#Print Summary table
summary_table

                            Feature name  Coefficients
0                              Intercept      0.215389
1                                grade:A      2.194318
2                                grade:B      1.663411
3                                grade:C      1.293391
4                                grade:D      0.863373
5                                grade:E      0.468698
6                                grade:F      0.152187
7                     home_ownership:OWN      0.111557
8                home_ownership:MORTGAGE      0.242805
9                       addr_state:NM_VA      0.049736
10                         addr_state:NY      0.003127
11          addr_state:OK_TN_MO_LA_MD_NC      0.010669
12                         addr_state:CA      0.049216
13                addr_state:UT_KY_AZ_NJ      0.065058
14             addr_state:AR_MI_PA_OH_MN      0.094828
15             addr_state:RI_MA_DE_SD_IN      0.088620
16                   addr_state:GA_WA_OR      0.302158
17                      addr_state:WI_MT      0.211833
18                         addr_state:TX      0.070695
19                      addr_state:IL_CT      0.264416
20          addr_state:KS_SC_CO_VT_AK_MS      0.286880
21          addr_state:WV_NH_WY_DC_ME_ID      0.424234
22      verification_status:Not Verified      0.250181
23   verification_status:Source Verified      0.059043
24                   purpose:credit_card      0.134487
25            purpose:debt_consolidation      0.104257
26            purpose:oth__med__vacation      0.195254
27   purpose:major_purch__car__home_impr      0.128197
28                 initial_list_status:w      0.100193
29                               term:36      0.197411
30                          emp_length:1      0.084018
31                        emp_length:2-4      0.118832
32                        emp_length:5-6      0.112232
33                        emp_length:7-9      0.079164
34                         emp_length:10      0.156492
35                mths_since_issue_d:<38     -1.499456
36              mths_since_issue_d:38-39     -1.625499
37              mths_since_issue_d:40-41     -1.517170
38              mths_since_issue_d:42-48     -1.489497
39              mths_since_issue_d:49-52     -1.409823
40              mths_since_issue_d:53-64     -1.458197
41              mths_since_issue_d:65-84     -1.480625
42                       int_rate:<9.548      0.006157
43                 int_rate:9.548-12.025     -0.160264
44                 int_rate:12.025-15.74     -0.229187
45                 int_rate:15.74-20.281     -0.161173
46   mths_since_earliest_cr_line:141-164     -0.078636
47   mths_since_earliest_cr_line:165-247     -0.100211
48   mths_since_earliest_cr_line:248-270     -0.091167
49   mths_since_earliest_cr_line:271-352     -0.054997
50      mths_since_earliest_cr_line:>352     -0.082547
51                         delinq_2yrs:0      0.053029
52                       delinq_2yrs:1-3      0.035603
53                      inq_last_6mths:0      0.762604
54                    inq_last_6mths:1-2      0.576797
55                    inq_last_6mths:3-6      0.382578
56                          open_acc:1-3      0.242424
57                         open_acc:4-12      0.120709
58                        open_acc:13-17      0.018423
59                        open_acc:18-22     -0.012457
60                        open_acc:23-25     -0.039582
61                        open_acc:26-30     -0.054126
62                         open_acc:>=31     -0.062833
63                           pub_rec:3-4     -0.018242
64                           pub_rec:>=5      0.007848
65                       total_acc:28-51     -0.024897
66                        total_acc:>=52     -0.030571
67                    acc_now_delinq:>=1      0.110733
68               total_rev_hi_lim:5K-10K      0.068885
69              total_rev_hi_lim:10K-20K      0.082952
70              total_rev_hi_lim:20K-30K      0.115887
71              total_rev_hi_lim:30K-40K      0.167471
72              total_rev_hi_lim:40K-55K      0.224090
73              total_rev_hi_lim:55K-95K      0.305597
74                 total_rev_hi_lim:>95K      0.406554
75                    annual_inc:20K-30K     -0.092731
76                    annual_inc:30K-40K     -0.064229
77                    annual_inc:40K-50K     -0.027554
78                    annual_inc:50K-60K     -0.007347
79                    annual_inc:60K-70K      0.023160
80                    annual_inc:70K-80K      0.046865
81                    annual_inc:80K-90K      0.087285
82                   annual_inc:90K-100K      0.094386
83                  annual_inc:100K-120K      0.154357
84                  annual_inc:120K-140K      0.177931
85                      annual_inc:>140K      0.192793
86                             dti:<=1.4     -0.079744
87                           dti:1.4-3.5      0.154241
88                           dti:3.5-7.7      0.174882
89                          dti:7.7-10.5      0.146690
90                         dti:10.5-16.1      0.092508
91                         dti:16.1-20.3      0.033074
92                         dti:20.3-21.7      0.005763
93                         dti:21.7-22.4     -0.044543
94                           dti:22.4-35     -0.084451
95        mths_since_last_delinq:Missing      0.133906
96           mths_since_last_delinq:4-30      0.129075
97          mths_since_last_delinq:31-56      0.152850
98           mths_since_last_delinq:>=57      0.145829
99        mths_since_last_record:Missing      0.085376
100          mths_since_last_record:3-20     -0.011517
101         mths_since_last_record:21-31      0.029284

In [24]:
# This is a list.
# We take the result of the newly added method 'p_values' and store it in a variable 'p_values'
p_values = reg.p_values

In [25]:
# Add the intercept for completeness.
# We add the value 'NaN' in the beginning of the variable with p-values since intercept has no p-value.
p_values = np.append(np.nan, np.array(p_values))

In [26]:
# In the 'summary_table' dataframe, we add a new column, called 'p_values', containing the values from the 'p_values' variable
summary_table['p_values'] = p_values

In [27]:
#Print table
summary_table

                            Feature name  Coefficients       p_values
0                              Intercept      0.215389            NaN
1                                grade:A      2.194318   0.000000e+00
2                                grade:B      1.663411   0.000000e+00
3                                grade:C      1.293391   0.000000e+00
4                                grade:D      0.863373  9.094416e-271
5                                grade:E      0.468698   9.050532e-94
6                                grade:F      0.152187   2.924810e-10
7                     home_ownership:OWN      0.111557   6.603848e-44
8                home_ownership:MORTGAGE      0.242805   0.000000e+00
9                       addr_state:NM_VA      0.049736   6.103724e-04
10                         addr_state:NY      0.003127   7.668563e-01
11          addr_state:OK_TN_MO_LA_MD_NC      0.010669   2.813379e-01
12                         addr_state:CA      0.049216   1.553110e-07
13                addr_state:UT_KY_AZ_NJ      0.065058   2.427214e-09
14             addr_state:AR_MI_PA_OH_MN      0.094828   1.112119e-22
15             addr_state:RI_MA_DE_SD_IN      0.088620   3.253882e-12
16                   addr_state:GA_WA_OR      0.302158  6.693995e-140
17                      addr_state:WI_MT      0.211833   3.409386e-25
18                         addr_state:TX      0.070695   5.079197e-11
19                      addr_state:IL_CT      0.264416   1.434902e-97
20          addr_state:KS_SC_CO_VT_AK_MS      0.286880  1.251681e-108
21          addr_state:WV_NH_WY_DC_ME_ID      0.424234   1.218682e-84
22      verification_status:Not Verified      0.250181   0.000000e+00
23   verification_status:Source Verified      0.059043   4.369504e-26
24                   purpose:credit_card      0.134487   2.257390e-20
25            purpose:debt_consolidation      0.104257   3.255494e-14
26            purpose:oth__med__vacation      0.195254   8.029489e-36
27   purpose:major_purch__car__home_impr      0.128197   1.632311e-16
28                 initial_list_status:w      0.100193   1.223126e-77
29                               term:36      0.197411  5.651253e-251
30                          emp_length:1      0.084018   1.390051e-14
31                        emp_length:2-4      0.118832   2.401782e-51
32                        emp_length:5-6      0.112232   2.349861e-32
33                        emp_length:7-9      0.079164   4.122417e-18
34                         emp_length:10      0.156492   7.633775e-95
35                mths_since_issue_d:<38     -1.499456   0.000000e+00
36              mths_since_issue_d:38-39     -1.625499   0.000000e+00
37              mths_since_issue_d:40-41     -1.517170   0.000000e+00
38              mths_since_issue_d:42-48     -1.489497   0.000000e+00
39              mths_since_issue_d:49-52     -1.409823   0.000000e+00
40              mths_since_issue_d:53-64     -1.458197   0.000000e+00
41              mths_since_issue_d:65-84     -1.480625   0.000000e+00
42                       int_rate:<9.548      0.006157   7.946895e-01
43                 int_rate:9.548-12.025     -0.160264   1.551431e-14
44                 int_rate:12.025-15.74     -0.229187   2.328336e-49
45                 int_rate:15.74-20.281     -0.161173   8.969646e-43
46   mths_since_earliest_cr_line:141-164     -0.078636   2.616687e-19
47   mths_since_earliest_cr_line:165-247     -0.100211   2.315564e-42
48   mths_since_earliest_cr_line:248-270     -0.091167   1.445424e-16
49   mths_since_earliest_cr_line:271-352     -0.054997   3.156365e-09
50      mths_since_earliest_cr_line:>352     -0.082547   9.874688e-15
51                         delinq_2yrs:0      0.053029   1.179183e-02
52                       delinq_2yrs:1-3      0.035603   6.897790e-02
53                      inq_last_6mths:0      0.762604   4.117444e-08
54                    inq_last_6mths:1-2      0.576797   3.336196e-05
55                    inq_last_6mths:3-6      0.382578   6.009626e-03
56                          open_acc:1-3      0.242424   9.332859e-02
57                         open_acc:4-12      0.120709   4.002884e-01
58                        open_acc:13-17      0.018423   8.979078e-01
59                        open_acc:18-22     -0.012457   9.309517e-01
60                        open_acc:23-25     -0.039582   7.840432e-01
61                        open_acc:26-30     -0.054126   7.086641e-01
62                         open_acc:>=31     -0.062833   6.672642e-01
63                           pub_rec:3-4     -0.018242   4.891149e-01
64                           pub_rec:>=5      0.007848   8.788683e-01
65                       total_acc:28-51     -0.024897   6.807766e-05
66                        total_acc:>=52     -0.030571   5.839019e-02
67                    acc_now_delinq:>=1      0.110733   4.184398e-03
68               total_rev_hi_lim:5K-10K      0.068885   6.894490e-08
69              total_rev_hi_lim:10K-20K      0.082952   4.580673e-12
70              total_rev_hi_lim:20K-30K      0.115887   3.848727e-20
71              total_rev_hi_lim:30K-40K      0.167471   5.232944e-35
72              total_rev_hi_lim:40K-55K      0.224090   2.112876e-55
73              total_rev_hi_lim:55K-95K      0.305597   9.598295e-89
74                 total_rev_hi_lim:>95K      0.406554   2.749060e-89
75                    annual_inc:20K-30K     -0.092731   8.264317e-07
76                    annual_inc:30K-40K     -0.064229   3.648186e-04
77                    annual_inc:40K-50K     -0.027554   1.251245e-01
78                    annual_inc:50K-60K     -0.007347   6.857921e-01
79                    annual_inc:60K-70K      0.023160   2.119007e-01
80                    annual_inc:70K-80K      0.046865   1.297621e-02
81                    annual_inc:80K-90K      0.087285   8.072486e-06
82                   annual_inc:90K-100K      0.094386   2.690314e-06
83                  annual_inc:100K-120K      0.154357   9.088930e-15
84                  annual_inc:120K-140K      0.177931   3.799726e-16
85                      annual_inc:>140K      0.192793   9.243111e-21
86                             dti:<=1.4     -0.079744   1.522868e-02
87                           dti:1.4-3.5      0.154241   1.385722e-11
88                           dti:3.5-7.7      0.174882   1.719745e-28
89                          dti:7.7-10.5      0.146690   1.692354e-21
90                         dti:10.5-16.1      0.092508   7.922155e-12
91                         dti:16.1-20.3      0.033074   1.442997e-02
92                         dti:20.3-21.7      0.005763   7.139413e-01
93                         dti:21.7-22.4     -0.044543   1.688623e-02
94                           dti:22.4-35     -0.084451   2.839167e-11
95        mths_since_last_delinq:Missing      0.133906   2.070324e-08
96           mths_since_last_delinq:4-30      0.129075   3.329005e-09
97          mths_since_last_delinq:31-56      0.152850   3.346712e-10
98           mths_since_last_delinq:>=57      0.145829   4.016691e-09
99        mths_since_last_record:Missing      0.085376   2.301168e-38
100          mths_since_last_record:3-20     -0.011517   6.936791e-01
101         mths_since_last_record:21-31      0.029284   2.826586e-01

Each orginal independent variable is represented by several dummy variables. Therefore, if one of few dummy variables representing one original independent variable are statistically significant, it would be best to retain all dummy variables that represent that original independent variable.

**Conventionally, if a p-value is lower than 0.05, we conclude that the coefficient of a variable is statistically significant.**

**In the next phase, we are going to remove some features, the coefficients for all or almost all of the dummy variables for which are not statistically significant (greater than 0.1). The independent variables which p-values are not statistically significant: `open_acc` and `pub_rec`

**We will remove them.**

In [ ]:
# Open_acc and pub_rec Variables are removed
inputs_train_with_ref_cat = loan_data_inputs_train[['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'total_acc:<=27',
'total_acc:28-51',
'total_acc:>=52',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31'
]]

In [1]:
# Open_acc and pub_rec Variables are removed

ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'delinq_2yrs:>=4',
'inq_last_6mths:>6',
'total_acc:<=27',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

NameError: name 'summary_table' is not defined

In [ ]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
inputs_train.head()

In [ ]:
# Here we run a new model.
reg2 = LogisticRegression_with_p_values()
reg2.fit(inputs_train, loan_data_targets_train)

In [ ]:
feature_name = inputs_train.columns.values

In [ ]:
# Same as above.
summary_table = pd.DataFrame(columns = ['Feature name'], data = feature_name)
summary_table['Coefficients'] = np.transpose(reg2.coef_)
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg2.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

In [ ]:
# We add the 'p_values' here, just as we did before.
p_values = reg2.p_values
p_values = np.append(np.nan,np.array(p_values))
summary_table['p_values'] = p_values
summary_table
# Here we get the results for our final PD model.

**Saving our PD Model**

In [ ]:
#import pickle


# Here we export our model to a 'SAV' file with file name 'pd_model.sav'.
#pickle.dump(reg2, open('pd_model.sav', 'wb'))